h1{
    color: navy;
}

.time{
    font-family: 'Courier New', Courier, monospace;
    font-size: 16pt;
}

.grid{
    table-layout: fixed;
    border-style: none;
    border-collapse: collapse;
}
.grid-div{
    height: 100%
}
.grid-cell{
    border-style: solid;
}
.grid-cell:hover{
    background-color: rgb(215, 245, 215);
}
.col-divider{
    border-style: none;
}
.grid-loading{
    background-color: yellow;
}
.colGroup-heading{
    background-color: white;
    text-align: center;
    border-style: solid;
    vertical-align: middle;
}
.hue-A{
    background-color: azure;
}
.hue-B{
    background-color: brown;
}
.hue-C{
    background-color: chartreuse;
}
.hue-D{
    background-color: deeppink;
}
.hue-E{
    background-color: grey;
}
.hue-F{
    background-color: firebrick;
}
.hue-G{
    background-color: goldenrod;
}
.hue-H{
    background-color: honeydew;
}
.hue-I{
    background-color: indigo;
}
.hue-U{
    border-color: red;
    background-color: white;
}